.admin-menu.button {
    align-self: stretch;
    width: 80px;
    overflow: hidden;
    border-radius: 80px;
    display: flex;
    align-content: center;
    justify-items: center;
    > img {
        
    }
}