.navbar {
    .ui.desktop.menu {
        background: transparent !important;
    }

    a {
        color: white;
    }
    & .item {
        transition: background-color 0.5s linear;
    }
    .ui.menu, .ui.item, .ui.container {
        background-color: royalblue !important;
        transition: background-color 0.1s;
    }
    .ui.item:active, .ui.item.active {
        background: solid midnightblue !important;
        background-color: midnightblue !important;
    }
    a.ui.item:first-child {
        border-bottom-left-radius: 2em;
    }
    a.ui.item:last-of-type {
        border-bottom-right-radius: 2em;
    }
    a.tiny.image {
        margin-left: auto;
        margin-right: 0;
    }

    .mobile {
        display: none !important;
    }

    @media screen and (max-width: 768px) {
        .desktop {
            display: none;
        }
        .mobile {
            display: flex !important;
        }
    }
    .ui.container.mobile-links {
        overflow: hidden;
        transition: height linear 0.5s !important;
    }
    .mobile-links.active {
        height: 360px;
    }
    .mobile-links:not(.active) {
        height: 0;
    }
    .ui.menu.mobile a.container {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 5em;
        margin-bottom: 0.2em;
    }
    .ui.menu.mobile a.container i {
        position: absolute;
        left: 0.2em;
        top: 0.2em;
    }
    .ui.dootable {
        transition: filter linear 0.2s;
    }
    .ui.dootable:active {
        filter: brightness(0.5);
    }
    img.ui {
        transition: border-color linear 0.5s, filter linear 0.2s !important ;
        border-color: #ff4a4a;
        border-style: solid;
    }
    img.ui.logged-in {
        border-color: #4aff4a;
    }
    .auth-menu {
        position: relative;
        display: inline-block;
    }
    .auth-content {
        position: absolute;
        filter: drop-shadow(10px 10px 4px rgba(0, 0, 10, 1));
        border-radius: 10px;

        left: -100px;
        z-index: 100;
        display: flex;
        flex-direction: column;
        padding: 10px 2px;
        min-width: 200px;
    }
    .auth-content:not(.displayed) {
        display: none;
    }
    .dropdown-arrow {
        position: absolute;
        top: -12px;
        left: 115px;
        background-color: white;
        z-index: -1;
        width: 50px;
        height: 50px;
        transform: rotate(45deg);
        border-radius: 5px;
    }
    .item:before {
        background: transparent !important;
    }
}

