.property-group {
    > h4 {
        margin: 1em auto !important;

        > span > span {
            margin-right: 0.4em;
        }
    }

    &:last-child {
        margin-bottom: 2em;
    }
}

.property-row {
    padding: 0 !important;

    > .ui.header {
        display: flex !important;
        justify-content: flex-end;

        > h5 {
            align-self: center;
        }
    }

    .ui.flex-row {
        display: flex !important;
        align-items: center;
    }
    .brand-icon, .generic-icon {
        margin-right: 0.5em;
    }
}
