.report-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3em;
    margin: 4px;

    &:nth-child(4n + 1) {
        background-color: #27274a;
    }
    > span {
        margin: 8px;
    }
    > .ui.label {
        margin-left: 8px !important;
    }
    > span.generic-icon {
        margin-left: auto;
    }
}

.report-view {
    transition: max-height 0.5s linear;
    // height: auto;
    // max-height: 3000px;
    overflow: hidden;
}

.report-view.collapsed {
    max-height: 2em;
}
