# General badness
*_py
*.pem
.*.swp
~*
*.log
__pycache__
config

# Log files
*.log.*

# Secrets
CREMIA_key.txt

# Generated/downloaded content
coffeecutie
.latest*
nginx-www/emscripten*
nginx-www/blog

*.iml
.idea
local.properties

.DS_Store

.gradle
