<html>
<head>
 <title>{{ title }}</title>
 <meta property="og:site_name" content="v.birchy">
 <!--<meta property="og:description" content="raw video storage">-->
 <!--<meta property="og:title" content="{{ title }}">-->
 <meta property="og:url" content="{{ url }}">
 <meta property="og:image" content="{{ thumb }}">
 <meta property="og:type" content="video.movie">
 <meta property="og:video" content="{{ preview }}">
 <meta property="og:video:type" content="video/mp4">
 <meta property="og:video:width" content="640">
 <meta property="og:video:height" content="360">
 <style>
  video {
   position: absolute;
   top: 0px;
   bottom: 0px;
   left: 0px;
   right: 0px;
   margin: auto;
   max-width: 100%;
   max-height: 100%;
  }
  body {
   background-color: black;
  }
 </style>
</head>
<body>
 <video autoplay controls>
  {% for source in sources %}<source src="{{ source.url }}" type="{{ source.mime }}">{% endfor %}
 </video>
</body>
</html>
