div.code-block code {
    padding: 1em;
    padding-left: 3em;
    margin: 0.5em;

    box-shadow: inset 0 0 5px black;
    overflow-x: overlay;
    flex-grow: 1;
    white-space: pre-wrap;
    text-align: left;
}
div.code-block pre {
    flex-grow: 1;
}
div.code-block, div.code-block pre {
    display: flex;
    justify-content: stretch;
}
div.code-block {
    margin: 0 0 1em 1em;
}
