html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body, main, .container, .inverted {
    background-color: #151530 !important;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
}

.tab {
    min-height: 90%;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    font-family: 'Ubuntu Mono', monospace;
}

h3, h4, .ui.menu {
    margin: 0 !important;
}

.flex-centered-important {
    display: flex !important;
    align-items: center;
}

.flex-centered {
    display: flex;
    align-items: center;
}

