.report-header {
    height: 2em;

    :nth-child(2) {
        background-color: #27274a;
    }
}

.report-view {
    transition: max-height 0.5s linear;
    height: auto;
    max-height: 3000px;
    overflow: hidden;
}

.report-view.collapsed {
    max-height: 2em;
}
